.singleplay-btn {

    display:inline-block;
    padding:0.7% 1.5%;
    box-sizing: border-box;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3392ff6b;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
.singleplay-btn :active{
  top:0.1em;
}
@media all and (max-width:30em){
.singleplay-btn{
    display:block;
    margin:0.4em auto;
}
}
