.leaderboard {
  border-radius: 7px;
  padding: 5% 2%;
  background-color: #000000;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.lb-header {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  font-weight: 1000;
  font-size: larger;
  height: 10vh;
}
.squares {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0px 4px;
  border-radius: 2px;
  background: black;
  color: #f0bf00;
}

.lb-rating {
  display: inline-flex;
  align-items: center;
  justify-content: baseline;
}
.tb-cell {
  font-size: 15px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.tb-row {
  display: flex;
  flex-direction: column;
  // align-items: center;

  justify-content: baseline;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: black;
  }
}
.tb-row-1 {
  display: flex;
}

.tb-row-2 {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.games-played {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.total-played-games {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  
}
 .games-desc {
   display: flex;
   
   .game-logo{
     border-radius: 10px;
     margin: 0 10%;
   }
  }
.text-tpg {
    color: burlywood;
    font-size: 0.7em;

  } 
  .value-tpg {
    color:cornsilk;
    font-size: 0.8em;
  }
.hide
{
  display: none;
}

.show
{
  display: block;
}