*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.winning-background {
    background-color: black;
    height: 100vh;
    width : 100%;
    .winner-name-div {
        display: flex;
        justify-content: space-around;
        padding-top: 10%;
        .winner-name {
            font-size: 50px;
            color: rgb(0, 255, 242);
        }
    }
    .winning-screen-btn{
        display: flex;
        vertical-align: middle;
        justify-content: space-around;
       
        .new-game {
            padding: 10px 15px;
            background-color: rgb(0, 255, 170);
        }
        .back {
            padding: 10px 15px;
            background-color: rgb(0, 255, 170);
        }
    } 
  
}